body {

    background-color:#E7E7E7;
    font-family: Arial;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    vertical-align: center;
    margin: auto;
}


.mainmenu {
    position: relative;
    background-color: #FF7A5A;
    width: 380px;
    height: 380px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: white;
    margin: 0 auto;
}

h2 {
    margin: 0 auto;
    background:#8ED2C9;
    padding: 1em 0.4em;
    font-size: 1.5em;
    font-weight: 400;
    display: block;
    line-height: 1em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
}

.mainmenu h3 {
    color: white;
}

.mainmenu p {
    margin-top: 0.5em;
    font-size: 1.8em;
    padding-bottom: 0.5em;
}

#count {
    color: #fff;
    font-weight: 700;
    font-size: 1.5em;
}

input.button {
    background:#004C70;
    color:#fff;
    font-size: 1em;

}

input.button:hover {
    background: #9E3B33;
    color: #fff;

}

ul.guessBox li {
    display: inline-block;
    padding: 0.1em;
    margin: 0.1em;
    color: #fff;
}
